@model IEnumerable<HairGallery.Models.SalonBuilding>

@{
    ViewBag.Title = "Index";
}

<h2 align="center">Salons</h2>
<br />
<a class="btn btn-default" href="@Url.Action("Create","SalonBuildings")">
    <i class="fa fa-plus"></i>
    Add New Salon
</a>
<table class="table table-hover table-striped table-responsive" id="my_list">
    <thead>
        <tr class="table-header-row">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingPic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SalonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildingDescription)
                </td>
                <td>
                    <a><img src="data:image/png;base64,@Convert.ToBase64String(item.BuildingPic, 0, item.BuildingPic.Length)" style="width: 40px; height: 40px" alt="" /></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a href="@Url.Action("Details","SalonBuildings", new { id=item.SalonBuildingId })" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs"><i class="fa fa-eye"></i></a>
                    <a href="@Url.Action("Edit","SalonBuildings", new { id=item.SalonBuildingId })" rel="tooltip" title="Edit" class="btn btn-success btn-simple btn-xs"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "SalonBuildings", new { id = item.SalonBuildingId })" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">$('#my_list').dataTable(
         {
             dom: 'Bfrtip',
             lengthMenu: [
                 [10, 25, 50, -1],
                 ['10 rows', '25 rows', '50 rows', 'Show all']
             ],
             buttons: [
                 'pageLength', 'csv', 'pdf', 'print'
             ],
             language: { search: "" },
             select: true
         }
     );
     $(".dataTables_filter input").addClass("search-input");
     $(".dataTables_filter input").attr('placeholder', 'Search');
     $('#my_list')
         .removeClass('display')
         .addClass('table table-striped table-hover');</script>
