@model IEnumerable<HairGallery.Models.Hairstyle>

@{
    ViewBag.Title = "Index";
}

<h2 align="center">Hairstyles </h2>
<a class="btn btn-default" href="@Url.Action("Create","Hairstyles")">
    <i class="fa fa-plus"></i>
    Add New Hairstyle
</a>
<table class="table table-hover table-striped table-responsive" id="my_list">
    <thead>
        <tr class="table-header-row">
            <th>
                @Html.DisplayNameFor(model => model.ServiceTypes.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairstyleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairstyleDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairstylePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairstylePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceTypes.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HairstyleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HairstyleDescription)
                </td>
                <td>
                    <a><img src="data:image/png;base64,@Convert.ToBase64String(item.HairstylePicture, 0, item.HairstylePicture.Length)" style="width: 40px; height: 40px" alt="" /></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HairstylePrice)
                </td>
                <td>
                    <a href="@Url.Action("Details","Hairstyles", new { id=item.HairstyleId })" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs"><i class="fa fa-eye"></i></a>
                    <a href="@Url.Action("Edit","Hairstyles", new { id=item.HairstyleId })" rel="tooltip" title="Edit" class="btn btn-success btn-simple btn-xs"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "Hairstyles", new { id = item.HairstyleId })" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }

    </tbody>
</table>
<script type="text/javascript">$('#my_list').dataTable(
         {
             dom: 'Bfrtip',
             lengthMenu: [
                 [10, 25, 50, -1],
                 ['10 rows', '25 rows', '50 rows', 'Show all']
             ],
             buttons: [
                 'pageLength', 'csv', 'pdf', 'print'
             ],
             language: { search: "" },
             select: true
         }
     );
     $(".dataTables_filter input").addClass("search-input");
     $(".dataTables_filter input").attr('placeholder', 'Search');
     $('#my_list')
         .removeClass('display')
         .addClass('table table-striped table-hover');</script>
